//FIXME naming and nesting.
.Settings {
  padding-top: $baseFontSize / 2;
  &__levels,
  &__extra {
    list-style-type: none;
  }
  // &__levels-item,
  // &__extra-item {
  //   margin-bottom: 0.25rem;
  // }
}

.Question {
  padding: $baseLineHeight;
  &__number {
    font-weight: 700;
    width: 2rem;
    min-width: 2rem;
    padding: $baseFontSize / 4 $baseFontSize / 2;
    background-color: $secondaryHue;
    border-radius: $baseFontSize / 4;
  }
  // This is the text / number input - style separately
  &__number--answer {

  }
}

.Score {
  padding: 0 $baseLineHeight;
}

.LastGameScore {
  padding: $baseFontSize $baseLineHeight;
}

.Answers {
  margin: $baseLineHeight;
  border-radius: $baseFontSize / 4;
  &__list {
    padding: 0;
  }
  &__list-item {
    background-color: $altBackgroundColour;
    padding: $baseFontSize / 8 $baseFontSize / 2;
    border-radius: 4px;
  }
  &__answer {
    font-size: 0.8rem;
    margin-left: $baseFontSize;
    position: relative;
  }
}

.wrong .Answers__answer::before {
  content: '\274C';
  margin-right: $baseFontSize;
  font-weight: bold;
  font-size: 1rem;
  color: $tertiaryHue;
}

.correct .Answers__answer::before {
  content: '\2713';
  margin-right: $baseFontSize;
  font-weight: bold;
  font-size: 1rem;
  color: $primaryHue;
}

.HighScore {
  &__title {
    padding-left: 1.7rem;
  }
}