//FIXME naming and nesting.
.Settings {
  &__levels,
  &__extra {
    list-style-type: none;
  }
  &__levels-item,
  &__extra-item {
    margin-bottom: 0.25rem;
  }
}

.Question {
  padding: $baseLineHeight / 2 $baseLineHeight;
  &__number {
    font-weight: 700;
    width: 2rem;
    min-width: 2rem;
    padding: $baseFontSize / 4 $baseFontSize / 2;
    background-color: $secondaryHue;
    border-radius: $baseFontSize / 4;
  }
  // This is the text / number input - style separately
  &__number--answer {

  }
}

.Score {
  padding: 0 $baseLineHeight;
}

.Answers {
  background-color: $altBackgroundColour;
  margin: $baseLineHeight;
  border-radius: $baseFontSize / 4;
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__list-item {
    margin-bottom: 4px;
    padding: $baseFontSize / 8 $baseFontSize / 2;
    border-radius: 4px;
  }
  &__answer {
    margin-left: $baseFontSize;
  }
}
// FIXME - naming!
.wrong .Answers__answer::before {
  content: 'X';
  padding: 0 8px;
  display: inline-block;
  margin-right: $baseFontSize;
  font-weight: bold;
  background-color: $tertiaryHue;
  border-radius: 4px;
}
